*{
    margin: 0;
}

body{
    padding:0;
    width: 60%;
    background-color: black;
    color: white;
    margin: 5% 20%;
}

.container{
    padding: 40px 100px;
    background-color: rgb(53, 53, 53);
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

img{
    height: 5vh;
}

h1, h3, h4{
    text-align: center;
    margin-bottom: 5px;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    padding: 0% 40%;
    margin-bottom: 25px;
}

.subtitle{
    text-align: left;
}

.footer-list{
    padding-left: 40px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0% 35%;
}

p{
    margin-bottom: 15px;
    text-indent: 20px;
}

.footer-icon{
    size: 10px;
}