* {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 2em;
  box-shadow: 0px 2.98px 7.45px rgba(0,0,0,0.2);
}

.header--logo {
  height: 2em;
  padding: 1em;
}

.header--title {
  font-size: 2.5em;
  margin-right: auto;
  color: #61DBFB;
}

.toggle--container {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 1em;
}

.toggle--button {
  display: none;
}

.toggle--button + label{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0em 0.3em;
}

.toggle--button + label::before{
    background-color: black;
    border: 1px white solid;
    content:"";
    width: 2em;
    height: 1em;
    border-radius: 1em;
    transition: background-color 200ms ease-in-out;
}

.toggle--button + label::after{
    background-color: white;
    position: absolute;
    left:0.2em;
    content:"";
    width: .8em;
    height: .8em;
    border-radius: .8em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

.toggle--button:checked + label::before{
    background-color: white;
    border: 1px black solid;
}

.toggle--button:checked + label::after{
    transform: translateX(100%);
    background-color: black;
}

.toggle--button:disabled + label::before{
    background-color: #ccc;
    border: 1px black solid;
}

.toggle--button:disabled + label::after{
    background-color: #777;
}

.content--title{
  margin: 1em 0em 1em 1em;
  font-size: 4em;
}

.content--list{
  margin: 0em 0em 0em 4em;
  font-size: large;
  list-style: none;
}

.content--list li::before{
  content: "\2022";
  color:#61DBFB;
  font-weight: bold;
  font-size: larger;
  width: 1em;
  margin-left: -1em;
  display: inline-block;
}

.content--list li{
  margin: 1em;
  font-size: larger;
}

.bg--img{
  position: absolute;
  top: 25vh;
  right:-25vh;
  color: #ccc;
  z-index: -1;
  height: 50vh;
}