* {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
}

.header--logo {
  height: 2em;
  padding: 0.5em;
}

.header--title {
  margin-right: auto;
  color: #61DBFB;
}

.toggle--container {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 1em;
}

.toggle--button {
  display: none;
}

.toggle--button + label{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0em 0.3em;
}

.toggle--button + label::before{
    background-color: black;
    border: 1px white solid;
    content:"";
    width: 2em;
    height: 1em;
    border-radius: 1em;
    transition: background-color 200ms ease-in-out;
}

.toggle--button + label::after{
    background-color: white;
    position: absolute;
    left:0.2em;
    content:"";
    width: .8em;
    height: .8em;
    border-radius: .8em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

.toggle--button:checked + label::before{
    background-color: white;
    border: 1px black solid;
}

.toggle--button:checked + label::after{
    transform: translateX(100%);
    background-color: black;
}

.toggle--button:disabled + label::before{
    background-color: #ccc;
    border: 1px black solid;
}

.toggle--button:disabled + label::after{
    background-color: #777;
}