*{
    margin: 0;
    border: 1px black solid
}

.navbar{
    display:flex;
    align-items: center;
}

.header--logo{
    height:2em;
    padding: 0.5em;
}

.header--title{
    margin-right: auto;
}

.toggle--container{
    display: flex;
    padding: 1em;
}