* {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  padding: 2em;
  box-shadow: 0px 2.98px 7.45px rgba(0, 0, 0, 0.2);
  height: 10vh;
}

.dark{
  background-color: black;
  color: white;
  z-index: -1;
}

.nav--dark{
  box-shadow: 0px 2.98px 7.45px rgba(255, 255, 255, 0.1);
  z-index: 1;
  position: relative;
}

.main--dark{
  background-color: #040f11;
}

.header--logo {
  height: 2em;
  padding: 1em;
}

.header--title {
  font-size: 2.5em;
  margin-right: auto;
  color: #61DBFB;
}

.toggle--container {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 1em;
}

.toggle--button {
  display: none;
}

.toggle--button + label{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0em 0.3em;
}

.toggle--button + label::before{
    background-color: black;
    border: 1px white solid;
    content:"";
    width: 2em;
    height: 1em;
    border-radius: 1em;
    transition: background-color 200ms ease-in-out;
}

.toggle--button + label::after{
    background-color: white;
    position: absolute;
    left:0.2em;
    content:"";
    width: .8em;
    height: .8em;
    border-radius: .8em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

.toggle--button:checked + label::before{
    background-color: white;
    border: 1px black solid;
}

.toggle--button:checked + label::after{
    transform: translateX(100%);
    background-color: black;
}

.toggle--button:disabled + label::before{
    background-color: #ccc;
    border: 1px black solid;
}

.toggle--button:disabled + label::after{
    background-color: #777;
}

main{
  padding:3em;
  height: 80vh;
  background-image: url("./assets/react-bg.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.content--title{
  font-size: 4em;
}

.content--list{
  padding: 3em;
}

.content--list > li{
  font-size: larger;
}

.content--list > li::marker{
  font-size: 1.5em;
  color: #61DBFB;
}